
@import '../_functions.scss';

.lead {
	flex-wrap: wrap;
}

.lead__header {
	font-size: calculateLinearInterpolation(2.5, 3.5, 48);
	color: var(--clr-primary-700);
	line-height: calculateLinearInterpolation(3.125, 4.4375, 48);
}

.lead__body {
	margin-block-start: 1.875rem;
}

.lead__hero {
	margin-block-start: 2.25rem;
}

.cta--lead {
	margin-block-start: calculateLinearInterpolation(1.5, 2.5, 48);
	padding-inline: calculateLinearInterpolation(2.375, 2, 48);
	padding-block: calculateLinearInterpolation(1, 1.125, 48);
	background: var(--clr-strong);
	
	&:hover {
		background: var(--clr-strong-highlight);
	}
	
}

@media (min-width: 48rem) {

	.lead {
		padding-block-end: calculateLinearInterpolation(12.375, 14.875, 48);
	}

	.lead__content {
		max-inline-size: calculateLinearInterpolation(25, 28.625, 48);
	}

	.lead__hero {
	display: none;
		}
}