@function calculateLinearInterpolation($minValue, $maxValue, $minVW: 23.4375, $maxVW: 90) {

  $minValueRem: $minValue * 1rem;
  $maxValueRem: $maxValue * 1rem;
  $minVwRem: $minVW * 1rem;

  $slope: calc(($maxValue - $minValue) * calc(100vw - $minVwRem) / ($maxVW - $minVW));

  $result: clamp($minValueRem,
	  $minValueRem + $slope,
	  $maxValueRem);

  @return $result;
}

@function emCalculator($sizeInPixels) {
  
  $result: ($sizeInPixels / 16) * 1em; 
  
  @return $result;
}
